<footer id = "footer_id" style='left: 0; bottom: 0; width: 100%;'>
  <section class='container' style='padding: 10px 10px;'>
  <div class="d-flex bd-highlight mb-3">
    <div class="mr-auto p-2 bd-highlight">© 2018 lighthouse</div>
    <div class="p-2 bd-highlight">Terms</div>
    <div class="p-2 bd-highlight">Blog</div>
  </div>
</section>
</footer>
