<header>

<!--   <div id = "header_interface">


  </div> -->

  <nav id = "navbar_id" class="navbar navbar-light bg-light">

    <!--                Icon               -->
  <img class="navbar-brand" href="/" src="/images/icon.png" height="42" width="42" />
  <img rel="icon" type="image/png" href="/images/icon.png"/>


  <div class="d-flex flex-row-reverse">
    <a class="p-2" href = "/event"> Events </a>
    <a class="p-2" href = "/create"> Scoodle</a>
  </div>
  </nav>




</header>
