<header>

<!--   <div id = "header_interface">


  </div> -->

  <nav id = "navbar_id" class="navbar navbar-light bg-light">
<!-- <a class="navbar-brand" href="#">Schoodle</a> -->
  <img class="navbar-brand" href="/" src="/images/icon.png" height="42" width="42" />
  <!-- href="#" -->

  <div class="d-flex flex-row-reverse">
<!--     <div class="p-2" href = "/event"> Events </div>
    <div class="p-2" href = "/create"> Scoodle </div> -->
<!--     <a class="p-2" style="width: 300px" href = "/event"> Events </a>
    <a class="p-2" style="width: 300px" href = "/create"> Scoodle</a> -->
    <a class="p-2" href = "/event"> Events </a>
    <a class="p-2" href = "/create"> Scoodle</a>
  </div>
  </nav>




</header>
