<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>



<!--        header partial            -->
    <% include ./partials/_header %>
  </head>

<!-- welcome message -->
  <body>
    <div class = "container col-centered">
      <h1> Welcome to Scoodle!</h1>
      <div class="card">
        <div class="card-body shadow p-3 mb-5 bg-white rounded">
          <h6>Scroodle is an app that helps you share upcoming events with family, friends and colleagues. Let them vote for the best time that suits them!</h6>
        </div>
      </div>
    </div>
  </body>

  <!--       footer partial          -->
<footer>
  <% include ./partials/_footer %>
</footer>


</html>
