<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>



<!--        header partial            -->
    <% include ./partials/_header %>
  </head>

<!-- welcome message -->
  <body>
    <div class = "container col-centered">
      <h1> Welcome to Scoodle</h1>
      <p> Scroodle is an app that... </p>
    </div>
  </body>

  <!--       footer partial          -->
<footer>
  <% include ./partials/_footer %>
</footer>


</html>
