<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>






<!--        header partial            -->
    <% include ./partials/_header %>
  </head>

<!-- welcome message -->
  <body>



    <div class="background-wrap">
      <video id="video-bg-elem" preload="auto" loop="true" autoplay="true" muted="muted">
        <source src="/images/bg.mp4" type="video/mp4">
          Video not supported
      </video>
    </div>





    <div id="welcome-message" class = "text-center align-middle">

      <h1 id="welcome-text" id="scoodle-colour"> Welcome to Scoodle</h1>
      <p id="welcome-text"> Your adventure awaits... </p>

    </div>
  </body>

  <!--       footer partial          -->
<footer>
  <% include ./partials/_footer %>
</footer>


</html>
